header{
    /* display: inline-block; */
    /* text-align: center; */
    color: #ffffff;
    font-family:"Montserrat";
    box-sizing: border-box;
    text-decoration: none;
}
.header-logo-text{
    text-align: center;
    font-weight: normal;
    letter-spacing: 0.5em;
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
}
.header-moto-text{
    font-weight: normal;
    letter-spacing: 0.4em;
    word-spacing: 0.2em;
    text-align: center;
}
/* a{
     text-decoration: none;
}  */
.header_text_3{
    text-align: center;
    border-top: 0.1em solid #FFF;
    border-bottom: 0.1em solid #FFF;
    word-spacing: 1em;
    letter-spacing: 0.5em;
    font-size: 1em;
}