.main_aside{
    margin-top: 1em;
    padding: 1em;
    height: auto;
    border-bottom: 0.1em solid #ffffff;
}
.main_container_1{
    border: 0.1em solid #ffffff;
    width: 60%;
    height: auto;
    padding: auto;
}
.container_1{
    border: 0.1em solid #ffffff;
    margin: 1em ;
}
.box{
    display: inline-block;
    border: 0.1em solid #ffffff;
    width: 20em;
    height: auto;
    margin: 1em;
}